.underline {
    text-decoration: underline;
  }

  .borderblack {
    border: 1px solid black;
  }

  .bordergrey {
    border: 1px solid lightgrey;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  
  .bottomMargin {
    margin-bottom: 20px;
  }

  .center {
    text-align: center;
  }

  .botTopMargin {
    margin-bottom: 20px;
    margin-top: 20px;
  }